{{ define "main" }}
<div class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
  <div class="post-meta">
      {{ if .Params.Date }}
    <span class="post-date">
      {{ .Date.Format "2006-01-02" }}
    </span>
    {{ end }}
    {{ with .Params.Author }}
    <span class="post-author">::
      {{ . }}
    </span>
    {{ end }}
  </div>

  {{ with .Params.Cover }}
  <img src="{{ . | absURL }}" class="post-cover" />
  {{ end }}

  <div class="post-content">
    {{ .Content }}
  </div>

  <hr class="separator">

  <div>Anything you would have done differently? Anything you learned for the first time? Let's talk on Twitter <a href="https://twitter.com/nightshiftc">@nightshiftc</a> :)</div>

  <hr class="separator">

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}

  <div class="pagination">
    <div class="pagination__title">
        <span class="pagination__title-h">Recommended Books</span>
        <hr />
    </div>
    <div class="is-flex book-list">
      <div><a target="_blank" href="https://www.amazon.com/gp/product/1593278551/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593278551&linkCode=as2&tag=ethicalhac0e7-20&linkId=1a2583ea85e593d082e71356b307dbde"><img border="0" src="https://bit.ly/ehsh-linux-basics-for-hackers-image" alt="Linux Basics for Hackers"></a></div>
      
      <div><a target="_blank" href="https://www.amazon.com/gp/product/159327288X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=159327288X&linkCode=as2&tag=ethicalhac0e7-20&linkId=9f5d28da6bf237bdc95c57fea9eb9094"><img border="0" src="https://bit.ly/ehsh-metasploit-penetration-testers-guide-img" alt="Metasploit: The Penetration Tester's Guide"></a></div>
      
      <div><a target="_blank" href="https://www.amazon.com/gp/product/1593275900/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593275900&linkCode=as2&tag=ethicalhac0e7-20&linkId=7982f4413f7d0dd233132bb980b6ed85"><img border="0" src="https://bit.ly/ehsh-black-hat-python-img" alt="Black Hat Python: Python Programming for Hackers and Pentesters"></a></div>
      
      <div><a target="_blank" href="https://www.amazon.com/gp/product/1593275641/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593275641&linkCode=as2&tag=ethicalhac0e7-20&linkId=abf37699577e232894d6775cade3c222"><img border="0" src="https://bit.ly/ehsh-penetration-testing-img" alt="Penetration Testing: A Hands-On Introduction to Hacking"></a></div>
    </div>
</div>

  {{ if or .NextInSection .PrevInSection }}
  <div class="pagination">
    <div class="pagination__title">
      <span
        class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
      <hr />
    </div>
    <div class="pagination__buttons">
      {{ if .NextInSection }}
      <span class="button previous">
        <a href="{{ .NextInSection.Permalink }}">
          <span class="button__icon">←</span>
          <span class="button__text">{{ .NextInSection.Title }}</span>
        </a>
      </span>
      {{ end }}
      {{ if .PrevInSection }}
      <span class="button next">
        <a href="{{ .PrevInSection.Permalink }}">
          <span class="button__text">{{ .PrevInSection.Title }}</span>
          <span class="button__icon">→</span>
        </a>
      </span>
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ partial "comments.html" . }}
</div>
{{ end }}
